<!DOCTYPE html>

{% load static %}

<html lang="pl">
<head>
    <!-- <meta http-equiv="refresh" content="3"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title %}
    {% endblock %}
</head>
<body>
    <div class="container">        
        <div class="px-4 py-5 my-5 text-center">
            <i class="bi bi-cpu-fill"></i>
            <h1 class="display-5 fw-bold">Projekt - odczyty z czujników</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Projekt zakłada pobieranie danych z czujników w komorach basenu miejskiego i analizowanie ich pod względem zabezpieczenie komór przed zalaniem wód opadowych lub basenowych.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a class="page-link" href="{% url 'charts' %}">Wykresy</a></button>
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a class="page-link" href="{% url 'tabels' %}">Tabele</a></button>
                </div>
            </div>
        </div>
        
        <div class="col-12">
            {% block content %}
            {% endblock %}
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>