{% extends 'sensorsapp/base.html' %}

{% block title %}
    <!-- <meta http-equiv="refresh" content="10"> -->
    <title>Projekt - Wykresy</title>
{% endblock %}

{% block content %}

    {% if chart %}
        
        <form action="" method="POST" class="row g-3">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary mb-3">Wyświetl</button>
        </form>
        <div class="text-center">
            <img src="data:image/png;base64, {{ chart|safe }}" class="img-fluid center-block" alt="Wykres">
        </div>
    {% endif%}
<!--
    <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th scope="col">Nazwa czujnika</th>
                <th scope="col">Data i czas</th>
                <th scope="col">Temperatura</th>
                <th scope="col">Wilgotność</th>
            </tr>
        </thead>
        <tbody>
            {% for measure in measures %}
                <tr>
                    <th scope="row">{{ measure.sensor_name }}</th>
                    <td>{{ measure.created_datetime }}</td>
                    <td>{{ measure.sensor_temperature }}</td>
                    <td>{{ measure.sensor_humidity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
-->
{% endblock %}
