:root {
    --font-lobster: 'Lobster';
    --web-font-size: 18px;
    --color-company-name: rgb(251, 84, 43);
    --color-blue: #0061c2;
}

h1 {
    color: var(--color-blue);
}

i {
    font-size: 2.8rem;
    color: var(--color-company-name);
}